html, body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  font-size: 1.5em;
  min-height: 300px;
  width: 100%;
  background: LightGray;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto 1fr auto;
  grid-gap: 10px;
  grid-template-areas:
    "header"
    "aside"
    "content"
    "footer";
}

@media (min-width: 300px){
  .container{
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "aside header"
      "aside content"
      "aside footer";
  }
}

@media (min-width: 400px){
  .container{
    /* change the code below this line */
  
    grid-template-areas:
      "aside header"
      "aside content"
      "aside footer";
  
  /* change the code above this line */
  }
}